// app global css in SCSS form
*::selection {
	background-color: #{rgba($primary, 0.4)};
}

.container {
  max-width: 1020px;
	padding: 0 10px;
  margin: 0 auto;
}

.link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}